
 

 header {
 	height: 160px;
  background-color: black;
  text-align: center;
  width: 40%;
  margin-bottom: 30px;

 
 }

header h1 {
	color: white;
	font-size: 40px;
	text-align: left;
	padding-top: 25px
}


body {
	background-image: url("https://staticdelivery.nexusmods.com/mods/110/images/53977-1-1399923376.jpg");
background-size: cover;
	background-repeat: no-repeat;


}

img {
 	height: 150px;
 	width: 200px;

 }

 a p {
	color: white;
}

.well h3 {
	color:white;

	margin: 0%;


}

.well {

	margin: 0 auto;
	width: 50%;
	text-align: center;
	min-height: 20%;





}


#well1 {
    width: 25%;
	

}
.containerStyle {
 	
	margin: 20px;
	
	
 }

.enemy {
	background-color: red;
}

.character {
	background-color: green;
}



.defender {
	background-color: grey;
}


